<!DOCTYPE html>
<html lang="en" ng-app="ytsApp">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	
	<link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/style.css"> 
</head>
<body ng-controller="YTSController"  ng-cloak>
	<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button> <a class="navbar-brand" href="#"><img src="https://yts.ag/assets/images/website/logo-YTS.svg" alt="YTS YIFY"></a>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"> <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> </li>
			</ul>
		</div>
        <!--<span style="margin-right:6.5rem">
	        <input type="text" placeholder="Search..." ng-model="searchParams.searchTerm"/>
        </span>-->
	</nav>
	<div class="container" ng-show="data.moviesCount > 0">
	    <div class="jumbotron">
            <div class="container">
                <div class="container hidden-sm-up">
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Rating:</label>
                        </div>
                        <div class="col">
                            <select class="custom-select" ng-model="searchParams.selectedMinimumRating" ng-options="rating for rating in searchParams.minimumRatings" ng-change="performSearch()">
                                    <option value="" selected="selected">All</option>
                                  </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Quality:</label>
                        </div>
                           <div class="col">
                            <select class="custom-select" ng-model="searchParams.selectedQuality" ng-options="quality for quality in searchParams.quality" ng-change="performSearch()">
                                      <option value="" selected="selected">All</option>
                                  </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Genre:</label>
                        </div>
                        <div class="col">    
                            <select class="custom-select" ng-model="searchParams.selectedGenre" ng-options="genre.value for genre in searchParams.genre track by genre.key" ng-change="performSearch()">
                                  </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Sort By:</label>
                        </div>
                        <div class="col">
                            <select class="custom-select" ng-model="searchParams.selectedSortBy" ng-options="sortBy.value for sortBy in searchParams.sortBy track by sortBy.key" ng-change="performSearch()">
                                        </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <label>Page Limit:</label>
                        </div>
                            <div class="col">
                            <select class="custom-select" id="inlineFormCustomSelect" ng-model="searchParams.selectedPageLimit" ng-options="pageLimit for pageLimit in searchParams.pageLimit" ng-change="performSearch()">
                            </select>
                            </div>
                    </div>
                     <div class="row mb-2">
                        <div class="col-4">
                            <label>View By:</label>
                        </div>
                        <div class="col">
                             <input type="radio" ng-model="searchParams.selectedViewBy" value="tile">
                             <span class="fa fa-address-card" style="padding-right:16px;font-size:1.5rem"></span>
                             <input type="radio" ng-model="searchParams.selectedViewBy" value="table">
                             <span class="fa fa-table" style="padding-right:2px;font-size:1.5rem"></span>
                        </div>
                    </div>
                </div>
                <div class="container hidden-xs-down">
                    <div class="row mb-3">
                        <div class="col">
                            <label>Rating:</label>
                            <select class="custom-select" ng-model="searchParams.selectedMinimumRating" ng-options="rating for rating in searchParams.minimumRatings" ng-change="performSearch()">
                                    <option value="" selected="selected">All</option>
                                  </select>
                        </div>
                       
                        <div class="col">
                            <label>Genre:</label>
                            <select class="custom-select" ng-model="searchParams.selectedGenre" ng-options="genre.value for genre in searchParams.genre track by genre.key" ng-change="performSearch()">
                                  </select>
                        </div>
                        <div class="col">
                            <label>Sort By:</label>
                            <select class="custom-select" ng-model="searchParams.selectedSortBy" ng-options="sortBy.value for sortBy in searchParams.sortBy track by sortBy.key" ng-change="performSearch()">
                                        </select>
                        </div>
                        <div class="col">
                            <label>Page Limit:</label>
                            <select class="custom-select" id="inlineFormCustomSelect" ng-model="searchParams.selectedPageLimit" ng-options="pageLimit for pageLimit in searchParams.pageLimit" ng-change="performSearch()">
                                      </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Quality:</label>
                            <select class="custom-select" ng-model="searchParams.selectedQuality" ng-options="quality for quality in searchParams.quality" ng-change="performSearch()">
                                      <option value="" selected="selected">All</option>
                                  </select>
                        </div>
                        <div class="col">
                            <label>View By:</label>
                             <input type="radio" ng-model="searchParams.selectedViewBy" value="tile">
                             <span class="fa fa-address-card" style="padding-right:16px;font-size:1.5rem"></span>
                             <input type="radio" ng-model="searchParams.selectedViewBy" value="table">
                             <span class="fa fa-table" style="padding-right:2px;font-size:1.5rem"></span>
                        </div>
                        <div class="offset-6"></div>
                    </div>
                </div>
            </div> 
	   </div>
    </div>
	<div class="container">
		<div class="jumbotron">
		    <div class="container">
                 <div class="row text-center" ng-show="data === undefined">
                     <div class="col-12">
                          <span class="fa fa-refresh fa-spin" style="font-size:10rem"></span>
                     </div>
                 </div>
		    </div>
			<div class="container" ng-show="data.moviesCount > 0">
                <div class="row table-responsive" ng-show="searchParams.selectedViewBy === 'table'">
				<table class="table table-sm table-hover">
					<thead class="thead-inverse">
						<tr>
							<th class="text-white">#</th>
							<th class="text-white">Image</th>
							<th nowrap>
								<a href="#" ng-click="toggleSort('title')" class="text-white">Title
									<span class="fa fa-caret-up" ng-show="resultSortBy === 'title' && !resultOrderBy"></span>
        							<span class="fa fa-caret-down" ng-show="resultSortBy === 'title' && resultOrderBy"></span>
								</a>
							</th>
							<th nowrap>
								<a href="#" ng-click="toggleSort('year')" class="text-white">Year
									<span class="fa fa-caret-up" ng-show="resultSortBy === 'year' && !resultOrderBy"></span>
        							<span class="fa fa-caret-down" ng-show="resultSortBy === 'year' && resultOrderBy"></span>
								</a>
							</th>
							<th nowrap>
								<a href="#" ng-click="toggleSort('rating')" class="text-white">Rating
									<span class="fa fa-caret-up" ng-show="resultSortBy === 'rating' && !resultOrderBy"></span>
        							<span class="fa fa-caret-down" ng-show="resultSortBy === 'rating' && resultOrderBy"></span>
								</a>
							</th>
							<th class="text-white">Genre</th>
							<th class="text-white">Runtime</th>
							<th class="text-white">Download</th>
						</tr>
					</thead>
					<tbody>
						<tr id="{{movie.id}}" class ="movieRow" ng-show="data !== undefined" ng-repeat="movie in data.movies | orderBy:resultSortBy:resultOrderBy">
							<td scope="row">{{$index + 1}}</td>
							<td>
								<a href="#">
									<figure class="figure">									
										<img src="{{movie.small_cover_image}}" class="figure-img img-fluid rounded" ng-click="moviedetailModal(movie.id)"/>
										<!--data-toggle ="modal" data-target="#moviedetail-modal"
										    <figcaption class="figure-caption">
											<p ng-repeat="torrent in movie.torrents"><a href="{{torrent.url}}">{{torrent.quality}}</a></p>
										</figcaption>-->
									</figure>
								</a>
							</td>
							<td>{{movie.title}}</td>
							<td>{{movie.year}}</td>
							<td>{{movie.rating}}</td>
							<td>{{movie.genres.sort().join(', ')}}</td>
							<td>{{movie.runtime}}</td>
							<td>
								<p ng-repeat="torrent in movie.torrents">
									<a class="btn btn-sm btn-block active" href="{{torrent.url}}" role="button" ng-class="{'btn-success':torrent.quality === '720p', 'btn-primary':torrent.quality === '1080p', 'btn-warning':torrent.quality === '3D'}" style="font-size:0.6rem"><span class="fa fa-download">&nbsp;</span>{{torrent.quality}}</a>
								</p>
							</td>
						</tr>
					</tbody>
				</table>		
			</div>
                <div class="row" ng-show="searchParams.selectedViewBy === 'tile'">
				<div class="col-12">
					<div class="card-columns" ng-show="data !== undefined">
						<div class="card card-block" ng-repeat="movie in data.movies | orderBy:resultSortBy:resultOrderBy">
							<a href="#">
								<img class="card-img-top" src="{{movie.medium_cover_image}}" style="width:100%" ng-click="moviedetailModal(movie.id)"/>
							</a>
							<div class="card-block">
								<h5 class="card-title">{{movie.title}}</h5>
								<p class="card-text"><br>Year:&nbsp;{{movie.year}}<br>Rating:&nbsp;{{movie.rating}}<br>Language:&nbsp;{{movie.language}}<!--<br>Genres:&nbsp;{{movie.genres.sort().join(', ')}}--></p>
								<!--<p class="card-text">Genres:&nbsp;{{movie.genres.sort().join(', ')}}</p>-->
							</div>
							<div class="card-footer">
								<small class="text-muted">
									<span ng-repeat="torrent in movie.torrents">
										<a class="btn btn-sm" href="{{torrent.url}}" role="button" ng-class="{'btn-success':torrent.quality === '720p', 'btn-primary':torrent.quality === '1080p', 'btn-warning':torrent.quality === '3D'}" style="font-size:0.5rem"><span class="fa fa-download">&nbsp;</span>{{torrent.quality}}</a>
									</span>
								</small>
							</div>
						</div>	
					</div>
					<div class="container text-center" ng-show="data === undefined"> 
						<span class="fa fa-refresh fa-spin" style="font-size:10rem"/>
					</div>
				</div>
			</div>
			</div>
			<div class="container" ng-show="data.message">
				<div class="row">
					<div class="col-12 text-center"  ng-class="{'text-danger': data.error}">
						<h5>{{data.message}}</h5>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<footer>
			<p class="text-white">&copy; Company 2017</p>
		</footer>
	</div>
	<!-- jQuery first, then Tether, then Bootstrap JS. -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/tether/dist/js/tether.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/ytscontroller.js"></script>
</body>
<div id="moviedetail-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
         <div class="modal-header" ng-show="selectedMovie">
            <h5 class="modal-title" id="exampleModalLongTitle">{{selectedMovie.title_long}} </h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <!-- Desktop View -->
              <div class="container hidden-xs-down">
                 <div class="row" ng-show="selectedMovie.error === false">
                     <div class="col-12 text-right pr-0">
                         <button type="button" class="btn btn-primary"><span class="fa fa-step-backward"></span></button>
                        <button type="button" class="btn btn-primary" ng-click="previousMovie(selectedMovie.id)"><span class="fa fa-chevron-left"></span></button>
                        <button type="button" class="btn btn-primary" ng-click="nextMovie(selectedMovie.id)"><span class="fa fa-chevron-right"></span></button>
                        <button type="button" class="btn btn-primary"><span class="fa fa-step-forward"></span></button>
                     </div>
                 </div>
                  <div class="row" ng-show="selectedMovie.error === false">
                      <div class="col-3">
                          <a href="http://www.imdb.com/title/{{selectedMovie.imdb_code}}" target="_blank">
        				    <img class="rounded float-left hidden-sm-down" src="{{selectedMovie.medium_cover_image}}" width="200" height="300"/>
                          </a>     
                      </div>
                      <div class="col-5">
                          <h3>Summary</h3>{{selectedMovie.description_full}}
                          <hr/>
                          <div class="row">
                              <div class="col-3"><h6>Rating</h6>{{selectedMovie.rating}}</div>
                              <div class="col-3"><h6>Runtime</h6>{{selectedMovie.runtime}}</div>
                              <div class="col-6"><h6>Parental Guide</h6>{{selectedMovie.mpa_rating}}</div>
                          </div>
                          <hr/>
                          <div class="row">
                              <div class="col-3"><h6>Downloads</h6>{{selectedMovie.download_count}}</div>
                              <div class="col-3"><h6>Liked</h6>{{selectedMovie.like_count}}</div>
                              <div class="col-6"><h6>Genres</h6>{{selectedMovie.genres.sort().join(', ')}}</div>
                          </div>
                          <hr/>
                      </div>
                      <div class="col-4">
                          <h3 ng-show="selectedMovie.cast">Cast</h3>
                          <ul class="list-group">
                              <li class="list-group-item p-2" ng-repeat="cast in selectedMovie.cast">
                                <a href="http://www.imdb.com/name/nm{{cast.imdb_code}}" target="_blank">
                                    <img src="{{cast.url_small_image}}" width="40" height="40" class="img-fluid rounded" ng-hide="{{cast.url_small_image === undefined}}"/>
                                    <img src="#" width="40" height="40" ng-show="{{cast.url_small_image === undefined}}"/>
                                </a>
                                <span class="small pl-2">{{cast.name}} as {{cast.character_name}}</span>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="row" ng-show="selectedMovie.error === false">
                      <div class="col-12" ng-show="selectedMovie.yt_trailer_code">
                          <div class="card">
                              <div class="cardblock">
                                   <div class="embed-responsive embed-responsive-16by9">
                                      <iframe class="embed-responsive-item" ng-src="{{getYoutubeURL(selectedMovie.yt_trailer_code)}}" allowfullscreen></iframe>
                                    </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row" ng-show="selectedMovie.error === false">
                      <div class="col-4" ng-show="selectedMovie.medium_screenshot_image1">
                          <div class="card">
                              <div class="cardblock">
                                  <img src="{{selectedMovie.medium_screenshot_image1}}">  
                              </div>
                          </div>
                      </div>
                      <div class="col-4" ng-show="selectedMovie.medium_screenshot_image1">
                          <div class="card">
                              <div class="cardblock">
                                  <img src="{{selectedMovie.medium_screenshot_image2}}">  
                              </div>
                          </div>
                      </div>
                      <div class="col-4" ng-show="selectedMovie.medium_screenshot_image1">
                          <div class="card">
                              <div class="cardblock">
                                  <img src="{{selectedMovie.medium_screenshot_image3}}">  
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row" ng-show="selectedMovie === undefined">
                       <div class="col-12 text-center">
                            <span class="fa fa-refresh fa-spin" style="font-size:10rem"/>                      
                       </div>
                  </div>
              </div>
              <!-- Mobile View -->
              <div class="container hidden-sm-up">
                  <div class="row" ng-show="selectedMovie.error === false">
                     <div class="col-12 text-right pr-0 pb-2">
                         <button type="button" class="btn btn-primary"><span class="fa fa-step-backward"></span></button>
                        <button type="button" class="btn btn-primary" ng-click="previousMovie(selectedMovie.id)"><span class="fa fa-chevron-left"></span></button>
                        <button type="button" class="btn btn-primary" ng-click="nextMovie(selectedMovie.id)"><span class="fa fa-chevron-right"></span></button>
                        <button type="button" class="btn btn-primary"><span class="fa fa-step-forward"></span></button>
                     </div>
                 </div>
                  <div class="row" ng-show="selectedMovie.error === false">
                      <div class="col-12">
                          <a href="http://www.imdb.com/title/{{selectedMovie.imdb_code}}" target="_blank">
        				    <img class="rounded float-left" src="{{selectedMovie.medium_cover_image}}"/>
                          </a>     
                      </div>
                  </div>
                  <div class="row" ng-show="selectedMovie.error === false">
                      <div class="col-12">
                          <h3>Summary</h3>{{selectedMovie.description_full}}
                          <hr/>
                          <div class="row">
                              <div class="col-3"><h6>Rating</h6>{{selectedMovie.rating}}</div>
                              <div class="col-3"><h6>Runtime</h6>{{selectedMovie.runtime}}</div>
                              <div class="col-6"><h6>Parental Guide</h6>{{selectedMovie.mpa_rating}}</div>
                          </div>
                          <hr/>
                          <div class="row">
                              <div class="col-3"><h6>Downloads</h6>{{selectedMovie.download_count}}</div>
                              <div class="col-3"><h6>Liked</h6>{{selectedMovie.like_count}}</div>
                              <div class="col-6"><h6>Genres</h6>{{selectedMovie.genres.sort().join(', ')}}</div>
                          </div>
                          <hr/>
                       </div>
                  </div>
                  <div class="row" ng-show="selectedMovie.error === false">
                      <div class="col-12" ng-show="selectedMovie.yt_trailer_code">
                          <div class="card">
                              <div class="cardblock">
                                   <div class="embed-responsive embed-responsive-16by9">
                                      <iframe class="embed-responsive-item" ng-src="{{getYoutubeURL(selectedMovie.yt_trailer_code)}}" allowfullscreen></iframe>
                                    </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row" ng-show="selectedMovie.error === false">
                      <div class="col-12">
                           <h3 ng-show="selectedMovie.cast">Cast</h3>
                          <ul class="list-group">
                              <li class="list-group-item" ng-repeat="cast in selectedMovie.cast">
                                <a href="http://www.imdb.com/name/nm{{cast.imdb_code}}" target="_blank">
                                    <img src="{{cast.url_small_image}}" class="img-fluid rounded" ng-hide="{{cast.url_small_image === undefined}}"/>
                                    <img src="#" width="60" height="60" ng-show="{{cast.url_small_image === undefined}}"/>
                                </a>
                                <span class="pl-2">{{cast.name}} as {{cast.character_name}}</span>
                              </li>
                          </ul>  
                      </div>
                  </div>
                  <div class="row" ng-show="selectedMovie === undefined">
                       <div class="col-12 text-center">
                            <span class="fa fa-refresh fa-spin" style="font-size:10rem"/>                      
                       </div>
                  </div>
                  <div class="row" ng-show="selectedMovie.error">
                       <div class="col-12 text-center">
						    <h5>{{data.message}}</h5>
                       </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer" ng-show="selectedMovie.error === false">
            <button type="button" class="btn btn-primary"><span class="fa fa-step-backward"></span></button>
            <button type="button" class="btn btn-primary" ng-click="previousMovie(selectedMovie.id)"><span class="fa fa-chevron-left"></span></button>
            <button type="button" class="btn btn-primary" ng-click="nextMovie(selectedMovie.id)"><span class="fa fa-chevron-right"></span></button>
            <button type="button" class="btn btn-primary"><span class="fa fa-step-forward"></span></button>
          </div>
    </div>
  </div>
</div>
</html>